body {
  background-color: white;
  color: black;
  text-align: center;
  font-size: 30px;
  font-family: 'ABeeZee', sans-serif;
}

input {
  border: 2px solid #dadada;
  border-radius: 7px;
}

input:focus {
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}

#main-panel {
  display: inline-block;
  margin-top: 15%;
  font-size: 30px;
}

#main-panel #word-input {
  background-color: white;
  height: 40px;
  width: 100%;
  text-align: center;
  color: black;
  font-size: 30px;
}

#main-panel #split-result {
  display: none;
}